body {
    font-family: Arial, sans-serif;
    margin: 50px;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

#loading {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #007bff;
}

#error_1, #error_2, #error_3 {
    color: red;
    font-size: 0.9em;
}

#predictionResult {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#predictionResult.fade-in {
    opacity: 1;
}
